{% extends "base.html" %}

{% block titulo %} Indice{% endblock %}

{% block contenido %}
    <div class="card">
        <div class="card-header">
            Listar Libros
        </div>
        <div class="card-body">
            <h4 class="card-title">Libros</h4>

            <div class="table">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Título</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr class="">
                            <td scope="row">Item</td>
                            <td>1</td>
                            <td>Django con python</td>
                            <td>Imagen.jpg</td>
                            <td> <a name="" id="" class="btn btn-primary" href="{% url 'editar' %}" role="button">Editar</a> | 
                                <a name="" id="" class="btn btn-primary" href="#" role="button">Borrar</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
{% endblock  %}


